<!DOCTYPE html>
<html>
<head>
  <title>CancanLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to("Home", root_path) %>
<% if current_user %>
  <%= link_to("Create Note", new_note_path, method: :get) %>
  <%= link_to("Sign out", logout_path, method: :delete) %>
<% else %>
  <%= link_to("Sign in", login_path) %>
<% end %>

<%= yield %>

</body>
</html>
